---
layout: default
---

<article>
  <div>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      Publicado em {{page.date | date: site.date_format }}
      {% endif %}
    </time>
  </div>

  <div id="notes-entry-container">
    <content>
      {{ content }}
      {% if page.date %}
            <p class="silver">
              <time datetime="{{ page.date | date_to_xmlschema }}">
                {{page.date | date: site.date_format }}
              </time>
            </p>
          <a href="https://marcosramon.net/sobre"> 
<img src="/assets/images/toliscircle3.png" height="60" width="80" alt="Marcos Ramon" align="left"></a><h4> Marcos Ramon </h4> <small> Professor no Instituto Federal de Brasília, pesquisando ensino, estética e cibercultura. <a href="http://lattes.cnpq.br/9538072103558772">Lattes</a> | <a href="https://orcid.org/0000-0002-8720-8706">ORCID</a> | <a href="https://marcosramon.net/archive">Arquivo</a></small>

<div id="disqus_thread"></div>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'mramon'; // required: replace example with your forum shortname
/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </content>

    <side style="font-size: 0.9em">
      <h3 style="margin-bottom: 1em">Relacionados</h3>
      {% if page.backlinks.size > 0 %}
      <div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(1fr);">
      {% for backlink in page.backlinks %}
        <div class="backlink-box">
        <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
        <div style="font-size: 0.9em">{{ backlink.excerpt | strip_html | truncatewords: 20 }}</div>
        </div>
      {% endfor %}
      </div>
      {% else %}

      <div style="font-size: 0.9em">
        <p>
          Nenhum texto relacionado a esse 😶
        </p>
      </div>
      {% endif %}
    </side>
  </div>
</article>

<hr>
